<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/_lantern/css/style.css">
</head>
<body>
	<div id="_lantern_content">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
		<div id="_lantern_text">
			<%= file.render() %>
		</div>
	</div>

</body>
<script src="/_lantern/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	$(document).ready(function(){
		var content = $("#_lantern_text").text();
		$("#_lantern_content").html(content);
	});

  var socket = io.connect('http://localhost:1619');
  socket.on('changes', function (output) {
		if(window.location.pathname === output.data.cleanurl){
			$("#_lantern_content").html(output.data.content);
		}
	});

</script>
</html>
